@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefers-dark;
}

@theme {
  --color-primary: #8b5cf6;
  --color-primary-content: #ffffff;
  --color-secondary: #a78bfa;
  --color-secondary-content: #ffffff;
  --color-accent: #c084fc;
  --color-accent-content: #ffffff;
}
